a {
    text-decoration: none;
}

body {
    width: 1366px;
    margin: 0 auto;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    font-family: Verdana, 'sans-serif';
}

.container {
    width: 1063px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.content-space {
    justify-content: space-between;
}

/*HEADER START*/

.header {
    padding-top: 49px;
}

.header-logo-img {
    display: inline-block;
    margin-right: 5px;
}

.header-logo-title {
    display: inline-block;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;;
    text-transform: uppercase;
    text-align: center;
}

.header-logo-title-big {
    font-size: 29px;
}

.header-contacts-text {
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
}

/*HEADER END*/

/*MAIN CONTENT START*/

.tours {
    flex-wrap: wrap;
}

.tours-item {
    margin-right: 62px;
    margin-top: 45px;
    position: relative;
}

.tours-item:hover > .tours-title {
    color: #f26522;
}

.tours-item-hover {
    position: absolute;
    width: 100%;
    background-color: #f26522;
    bottom: 50px;
    opacity: 0;
    transition: opacity 1s;
}

.tours-item:hover .tours-item-hover  {
    opacity: 1;
}

.hover-price-small {
    font-size: 10px;
}

.hover-price {
    color:  #ffffff;
    font-weight: 400;
    text-align: left;
    font-size: 20px;
    padding: 16px 100px 17px 21px;
}

.hover-details {
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    margin: 35px 18px 17px;
}

.arrow {
    opacity: 0.5;
    margin-left: 15px;
}

.tours-item:nth-child(3), .tours-item:nth-child(6) {
    margin-right: 0;
}

.tours-img {
    border: 3px solid white;
    border-image-source: linear-gradient(white, rgba(0, 0, 0, 0));
    border-image-slice: 1;
    box-shadow: 0 10px 23px 0 rgba(0,0,0,0.75);
}

.tours-title {
    display: block;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

/*MAIN CONTENT END*/


/*FOOTER START*/

.footer {
    margin-bottom: 20px;
    margin-top: 53px;
}

.footer-title {
    color:  #ffffff;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
}

/*FOOTER END*/
